<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragment/head :: head ('Weather tracker')}"></head>

<body>
<div th:replace="~{/fragment/header :: full-header}"></div>

<div th:replace="~{/fragment/messages :: displayMessage}"></div>
<div th:replace="~{/fragment/messages :: displayErrorMessage}"></div>

<div class="weather-container" th:with="isEmptyQueries=${#lists.isEmpty(locationsByQuery)},
                  hasQueries=${!#lists.isEmpty(locationsByQuery)},
                  hasUserLocations=${!#lists.isEmpty(userLocationsWeather)}">

    <h2 th:if="${isEmptyQueries and !hasUserLocations}">No tracked locations</h2>
    <h2 th:if="${hasQueries}">Choose location to be tracked</h2>
    <h2 th:if="${hasUserLocations}">Tracked Locations</h2>

    <form th:action="@{/api/v1/locations}" method="get" class="d-flex align-items-center">
        <label for="query" class="queryLabel me-2">Search locations</label>

        <input type="text" name="query" id="query" placeholder="Search locations" class="form-control me-3"
               style="flex: 1;">

        <button type="submit" class="btn btn-primary">Search</button>

        <div class="back-link me-3" th:if="${!hasUserLocation}">
            <a href="/api/v1/weather" class="btn btn-outline-secondary">&larr; Go Back to Tracked Locations</a>
        </div>
    </form>

    <div class="locations-list row" th:if="${hasQueries}">
        <div class="col-md-4 mb-3" th:each="location : ${locationsByQuery}">
            <div th:insert="~{fragment/location-card :: location-search-card}"></div>
        </div>
    </div>

    <div class="locations-list row" th:if="${hasUserLocations}">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3" th:each="locationWeather : ${userLocationsWeather}">
            <div class="weather-card"
                 th:attr="data-temp=${locationWeather.weatherDetails.temperatureInfo.currentTemp}">
                <div th:insert="~{fragment/location-card :: location-weather-card}"></div>

                <div class="trivia-popup" style="display: none;">
                    <p id="trivia-content">Loading trivia...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/resources/js/weather.js"></script>

<div th:replace="~{/fragment/footer :: footer}"></div>
</body>
</html>
