<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragment/head :: head('Welcome to Weather Tracker')}"></head>

<body>
<div class="content-wrapper d-flex flex-column min-vh-100">
    <div th:replace="~{/fragment/header :: full-header}"></div>

    <div class="container mt-4 flex-grow-1">
        <div class="text-center">
            <h1>Welcome to Weather Tracker</h1>
            <p class="lead">Track weather conditions of your favorite locations in real time.</p>
        </div>

        <div class="row mt-4">
            <div class="col-md-4 text-center">
                <img src="/resources/icons/weather.png" alt="Weather icon" class="img-fluid" style="max-height: 100px;">
                <h3>Real-time Weather</h3>
                <p>Get accurate, real-time weather updates for any location around the globe.</p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/resources/icons/track.png" alt="Track locations icon" class="img-fluid"
                     style="max-height: 100px;">
                <h3>Track Locations</h3>
                <p>Save and track the weather of multiple locations with ease.</p>
            </div>

            <div class="col-md-4 text-center">
                <img src="/resources/icons/trivia.png" alt="Trivia icon" class="img-fluid" style="max-height: 100px;">
                <h3>Fun Weather Trivia</h3>
                <p>Did you know? The highest temperature ever recorded on Earth was 56.7°C in Death Valley, USA!</p>
            </div>
        </div>

        <div class="mt-5 d-flex flex-column align-items-center text-center mb-3">
            <p class="lead">To get started, sign up or log in to start tracking your favorite locations.</p>
            <div row>
                <a href="/api/v1/sign-in" class="btn btn-secondary btn-lg">Sign In</a>
                <a href="/api/v1/sign-up" class="btn btn-primary btn-lg">Sign Up</a>
            </div>
        </div>
    </div>

    <div th:replace="~{/fragment/footer :: footer}"></div>
</div>
</body>
</html>
