<div th:fragment="footer">
    <footer class="py-4">
        <div class="container-md-4 text-center">
            <p>☔ "Rain or shine, we've got you covered!"</p>

            <p>Made with ☀️ and 🌧 by Aleos. Follow me on
                <a href="https://github.com/aleos-dev/" target="_blank" rel="noopener noreferrer">GitHub</a> |
                <a href="https://ale-os.com/" target="_blank" rel="noopener noreferrer">Blog</a>
            </p>

            <p class="small text-muted">© 2024 Weather Tracker. You have rights to good weather.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</div>