<div th:fragment="full-header">
    <header class="d-flex align-items-center py-3">
        <!-- Logo -->
        <img class="ms-3" src="/resources/icons/logo.webp" alt="Weather Tracker Logo" style="height: 50px;"/>

        <div class="dropdown ms-3">
            <a class="btn btn-link dropdown-toggle" href="#" id="personalLinksDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                🔗 Dev profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="personalLinksDropdown">
                <li><a class="dropdown-item" href="https://ale-os.com" target="_blank"
                       rel="noopener noreferrer">Blog</a></li>
                <li><a class="dropdown-item" href="https://github.com/aleos-dev" target="_blank"
                       rel="noopener noreferrer">GitHub</a></li>
                <li><a class="dropdown-item" href="https://leetcode.com/u/aleos-dev/" target="_blank"
                       rel="noopener noreferrer">Leetcode</a></li>
            </ul>
        </div>

        <div th:if="${SESSION_CONTEXT.isAuthenticated()}" th:with="username=${SESSION_CONTEXT.getPrincipal()}"
             class="ms-auto me-3">
            <a class="btn btn-outline-danger" th:href="@{/api/v1/sign-out}">
                <span class="username fw-bold" th:text="${username}"></span> 🚪 Sign Out
            </a>
        </div>
    </header>
</div>

<!-- Simplified Header Fragment -->
<div th:fragment="simple-header">
    <header class="d-flex align-items-center justify-content-center">
        <img class="me-3" src="/resources/icons/logo.webp" alt="Weather Tracker Logo" style="height: 30px;">

        <a th:href="@{/api/v1/welcome}" class="link-no-ref-style">Weather Tracker</a>
    </header>
</div>
