# Mail Service Configuration
WEATHER_TRACKER_MAIL_SERVICE_CODE=?
WEATHER_TRACKER_MAIL_SERVICE_SENDER=?

# Weather API Key
WEATHER_TRACKER_REMOTE_API_KEY=?

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

