# --------------------------------------------------------------
# Database Configuration
# --------------------------------------------------------------

# JDBC URL for connecting to the PostgreSQL database.
DB_URL=jdbc:postgresql://localhost:5432/weather_tracker_db

# Username for authenticating to the PostgreSQL database.
DB_USER=weather_db_user

# Password for the corresponding database user.
DB_PASSWORD=weather_db_password


# --------------------------------------------------------------
# Mail Service Configuration
# --------------------------------------------------------------

# Authentication code or API key for the email service.
# This code is required to access a third-party email provider's API
# for sending emails such as registration confirmations or notifications.
weather_tracker_mail_service_code=

# The email address used as the "From" or sender address for outgoing emails.
# This email will appear as the sender in all communication sent by the application.
weather_tracker_mail_service_sender=


# --------------------------------------------------------------
# Weather API Configuration
# --------------------------------------------------------------

# API key for accessing the OpenWeather API.
# This key allows the application to fetch weather data from OpenWeather,
# including forecasts, current weather, and other meteorological information.
OPEN_WEATHER_API_KEY=
