.locations-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.locations-list .col-md-4 {
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 1.5rem;
}

.username {
    color: #0b5ed7;
}

.card {
    position: relative;
    overflow: hidden; /* Ensure elements stay within the card */
}

.temperature-display {
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold;
    text-align: right;
}

.weather-display {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Keeps icon and temperature aligned */
    gap: 10px; /* Adjust for spacing between icon and temperature */
}

.weather-icon {
    max-width: 50px;
    height: auto;
    object-fit: contain;
}

/*.close-button {*/
/*    position: absolute;*/
/*    top: 8px;*/
/*    right: 8px;*/
/*    background: transparent;*/
/*    border: none;*/
/*    font-size: 1.25rem;*/
/*    cursor: pointer;*/
/*}*/
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    color: #000; /* Customize color as needed */
    cursor: pointer;
    z-index: 10; /* Ensures the button appears above other elements */
}